home:
	route: /
	method: GET
	callable:
		- \App\Query
		- home
	
	queries:

		middleware:
			- \App\Query
			- show

		one:
			route: one
			method: GET
			callable:
				- \App\Query
				- one
			params:
				tpl: q1

		three:
			route: three
			method: GET
			callable:
				- \App\Query
				- three
			params:
				tpl: q3

		six:
			route: six
			method: GET
			callable:
				- \App\Query
				- six
			params:
				tpl: q6

		eight:
			route: eight
			method: GET
			callable:
				- \App\Query
				- eight
			params:
				tpl: q8
