{% extends 'body.twig' %}

{% block body %}
	<div class="list-group col-sm-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="panel-title">Queries</div>
			</div>
			<div class="panel-body">
				<a class="list-group-item" href="/one">Report of Manager's name and phone number for each residence hall</a>
				<a class="list-group-item" href="/three">Details of lease agreements that include the summer semester</a>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="panel-title">Developed by Maurice & Kace</div>
			</div>
			<div class="panel-body">
				<a href="https://github.com/mothepro/University-Database" class="pull-right"><i class="fa fa-github fa-2x"></i></a>
				Assignment 5<br>
				<datetime>November 21, 2015</datetime><br>
				Concepts of Database Systems<br>
				CS 4354-001<br>
			</div>
		</div>
	</div>
{% endblock %}
	