{% extends 'body.twig' %}

{% block title %}Query One{% endblock %}

{% block body %}
	<h2>Hall Managers</h2>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Hall Number</th>
				<th>Manager First Name</th>
				<th>Manager Last Name</th>
				<th>Manager Phone Number</th>
			</tr>
		</thead>
		<tbody>
		{% for Hall in data %}
			<tr>
				<td>{{ Hall.Hallno }}</td>
				<td>{{ Hall.Staff.Firstname }}</td>
				<td>{{ Hall.Staff.Lastname }}</td>
				<td>{{ Hall.Staff.Phoneno }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}
	